/* Base*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* barra di navigazione*/
.barra-di-navigazione{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #add8e6;
    height: 80px;
    padding: 0 20px;
}
.logo, .links, .login {
    background-color: goldenrod;
    border: 1px dotted black; 
    padding: 10px;

}
.hero {
    background-color: #00008b; 
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-box {
    background-color: violet;
    width: 60%;
    height: 200px;
    border: 1px dotted black;
}
/* 4 sezioni restanti*/
.sezione1 {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
padding: 5% 0; /* spazio verticale*/
}
.sezione-white {
background-color: white;
}
.blocco {
border: 1px dotted black;
width: 45%;/*spazio che ocupano i blocchi*/
height: 40vh;/*altezza relativa dei blocchi*/
}
.blue {
    background-color: #1e90ff
}
.pink{
    background-color: rosybrown;
}